.parraf {
 color: white;
}

.image{
    align: "center";
    border-radius:150px;
    border:10px solid #666;
    width:100px;
    height:100px;
}

.redes{
    cursor: pointer;

}


.circular--square {
    border-radius: 50%;
    width:400px;
    height:300px;
  }
