<!DOCTYPE html>
<html lang="en">
<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none}
</style>
</head>
<body>

  <div class="w3-top">
    <div class="w3-bar w3-black w3-card">
      <button class="w3-padding-large w3-button"  routerLink="/info-producto" title="More">INFORMACIÓN</button>     
      <button class="w3-padding-large w3-button"  routerLink="/" title="More">PRODUCTOS</button>     
      <a href="javascript:void(0)" class="w3-padding-large w3-hover-red w3-hide-small w3-right"><i class="fa fa-search"></i></a>
    </div>
  </div>


<div class="w3-content" style="max-width:2000px;margin-top:46px">

 
  <!-- Logo -->
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
      <img class="circular--square" src="./assets/logo.png" />
      <h2 class="parraf">CANDY DRINKS</h2>
  </div>

  <div class="w3-black" id="tour">
    <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
      <h2 class="w3-wide w3-center">Información</h2>
      <div class="w3-row-padding w3-padding-32" style="margin:0 -16px">
        <div class="w3-third w3-margin-bottom">
          <div class="w3-container w3-white">
            <p><b>Descripción</b></p>
            <p>Establecimiento que ofrece comida y bebidas a precio económico,
              con diferentes tipos de menu, estamos dispuesto a solventar
              cualquier inquietud del cliente.</p>
          </div>
        </div>
        <div class="w3-third w3-margin-bottom">
          <div class="w3-container w3-white">
            <p><b>Historia</b></p>
            <p class="w3-opacity">22 Enero 2022</p>
            <p>La historia</p>
            <a href="https://www.facebook.com/LosMejores21" class="w3-padding-large w3-hover-red w3-hide-small w3-right"><i class="fa fa-search" target="_blank"></i></a>

          </div>
        </div>
        <div class="w3-third w3-margin-bottom">
          <div class="w3-container w3-white">
            <p><b>Ubicación</b></p>
            <p class="w3-opacity">Quito, Quitumbe</p>
            
            <p>A metros de las discotecas de Quitumbe.</p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m21!1m12!1m3!1d3989.764104370196!2d-78.55084418524667!3d-0.29869309978207104!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m6!3e6!4m0!4m3!3m2!1d-0.2981289!2d-78.5484306!5e0!3m2!1sen!2sec!4v1652676885592!5m2!1sen!2sec" width="220" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>



  <!-- The Contact Section -->
  <div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
    <h2 class="w3-wide w3-center" class="parraf">CONTACTO</h2>
    <div class="w3-row w3-padding-32">
      <div class="w3-col m6 w3-large w3-margin-bottom" class="parraf">
        <p class="w3-opacity w3-center"><i>Dueño local Candy Drinks</i></p>

        <i class="fa fa-phone" style="width:30px"></i> Celular: +593 99 551 0519<br>
        <i class="fa fa-envelope" style="width:30px"> </i> Correo Electrónico: 
        <a href="mailto:andersonladino17@gmail.com?cc=aladino@est.ups.edu.ec, aladino@est.ups.edu.ec, &bcc=aladino@est.ups.edu.ec &subject=Solicitud de Información &body=Necesito mayor información de Animate a Crear">bryanLucero97@gmail.com</a>

      </div>
        <br>
      <div class="w3-col m6 w3-large w3-margin-bottom" class="parraf">
        <p class="w3-opacity w3-center"><i>Creador página web</i></p>

        <i class="fa fa-phone" style="width:30px"></i> Celular: +593 96 334 2229<br>
        <i class="fa fa-envelope" style="width:30px"> </i> Correo Electrónico: 
        <a href="mailto:andersonladino17@gmail.com?cc=aladino@est.ups.edu.ec, aladino@est.ups.edu.ec, &bcc=aladino@est.ups.edu.ec &subject=Solicitud de Información &body=Necesito mayor información de Animate a Crear">andersonladino17@gmail.com</a>

      </div>

    
    </div>
  </div>
  
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
  <i class="fa fa-facebook-official w3-hover-opacity">
    <a href="https://www.facebook.com/LosMejores21" target="_blank">CandyDrinks</a>  


  </i>
  <br>
  <i class="fa fa-instagram w3-hover-opacity">
    <a href="https://www.instagram.com/michelasos.quitumbe/" target="_blank">michelasos.quitumbe
    </a>  

  </i>
  <br>
  <br>

  <p class="w3-medium">Creado por:  <a href="https://www.facebook.com/anderson.ladino.5/" target="_blank">Anderson Ladino</a></p>
</footer>

</body>
</html>
